.infos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    grid-area: info;
    gap: 24px;
    max-width: 500px;

    .languages-info{
        display: flex;
        flex-direction: column;
        gap: 24px;
        width: 100%;
    }

    span{
        color: var(--text-secondary);
    }
}